<main role="main" class="container-fluid">
  <h3>
    Salvappvidas es una herramienta que permite prevenir los riesgos ocasionados
    por los desastres climatológicos. También brinda información útil para
    acudir a centros de ayuda tanto en una emergencia, como para acercarse al
    donar insumos y elementos para quienes los necesiten.
    <br /><br />
    En la página inicial se muestra el estado climatológico actualizado mediante
    un texto que indica el riesgo que puede ser bajo, medio, alto, además de con
    ilustraciones que representen dicha situación climatológica.
    <br /><br />
    El sitio brinda ayudas de accesibilidad para quién lo desee y necesite. Se
    puede agrandar el tamaño de la letra de la plataforma, así como activar un
    modo daltónico o acceder al tutorial del sistema.
    <br /><br />
    Es importante que estés atento al clima y cuides a tus seres queridos.
    <br />
    Para más información contactate al 0800-777-8998 o a
    ayuda@salvappvidas.com.ar
  </h3>
</main>
