<main role="main" class="container">
  <div class="row">
    <div class="col-xl-5 col-12 donationcard bg-light mx-0">
      <div class="container-fluid mx-0 padear mt-4">
        <header>
          <h3>Configuración</h3>
        </header>
        <form action="" class="mt-4">
          <label for="TamañoLetra" class="form-label">Tamaño de la letra</label>
          <input
            type="range"
            class="form-range"
            min="0"
            max="10"
            step="1"
            id="TamañoLetra"
          />
          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-success">Modo daltonico</button>
          </div>
          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-success">Ir al tutorial</button>
          </div>
          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary">Guardar cambios</button>
          </div>
        </form>
      </div>
      <div class="d-xl-block d-none">
        <div class="rectangulo1"></div>
        <div class="adorno2"></div>
        <div class="adorno1"></div>
        <img
          src="../../assets/Mask Group.png"
          alt="Municipalidad de La Plata"
          class="foto"
        />
      </div>
    </div>
  </div>
</main>
