<nav
  id="nav"
  class="navbar navbar-expand-lg sticky-top"
  style="background-color: white"
>
  <div class="container-fluid">
    <a class="navbar-brand" id="salvappvidas_logo" routerLink="/home"
      >Salvappvidas</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            aria-current="page"
            >Inicio</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Donaciones
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a
                class="dropdown-item"
                routerLink="/donaciones"
                routerLinkActive="active"
                >Hacer donación</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/centros"
                routerLinkActive="active"
                >Ver centros de donaciones</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/configuracion"
            routerLinkActive="active"
            >Configuración</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/info" routerLinkActive="active"
            >Más información</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
