<div class="container-fluid">
  <header>
    <div class="row article align-items-center">
      <div class="col">
        <h1>
          Bienvenido a la plataforma de soporte ante las inundaciones de La
          Plata
        </h1>
        <hr />
        <p>
          Encontrá información actualizada de las precipitaciones en la ciudad.
          Además podés encontrar puntos de ayuda y donar para quien lo necesite.
        </p>
      </div>
      <div class="col-lg full-height container-main-img d-lg-block d-none">
        <picture style="display: block; position: relative">
          <img
            class="img"
            src="../../assets/plaza_moreno.png"
            alt="Plaza Moreno"
            style="right: 0; position: absolute"
          />
        </picture>
      </div>
    </div>
  </header>
  <article>
    <div class="row article" style="background-color: aqua">
      <div class="col">
        <div class="row">
          <h1>Probabilidad de riesgo</h1>
          <hr />
          <h1>Baja</h1>
        </div>
        <div class="row">
          <div
            class="col-8 full-height container-main-img d-block"
            align="center"
          >
            <picture style="position: relative">
              <img
                class="img-left"
                src="../../assets/tik.png"
                alt="Icono que muestra la situación climatológica"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="col-8 full-height container-main-img d-xl-block d-none">
        <picture style="position: relative">
          <img
            class="img-right img"
            src="../../assets/illustration.png"
            alt="Imagen que ilustra el clima"
          />
        </picture>
      </div>
    </div>
  </article>

  <article>
    <div class="row">
      <div class="col-7">
        <div class="row" style="margin: 55px 0">
          <h2>Líneas de contacto</h2>
        </div>
        <hr />
        <div class="row">
          <div class="col-2" style="margin: 0 15px">
            <img
              class="icon"
              src="../../assets/bombera.png"
              alt="Imagen que ilustra una bombera"
            />
          </div>
          <div class="col"></div>
          <div class="col-4">
            <h3 style="margin-left: 10px">Bomberos</h3>
          </div>
          <div class="col-4">
            <h3 style="margin-left: 10px">Teléfono: 100</h3>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-2" style="margin: 0 15px">
            <img
              class="icon"
              src="../../assets/policia.png"
              alt="Imagen que ilustra una policia"
            />
          </div>
          <div class="col"></div>
          <div class="col-4">
            <h3 style="margin-left: 10px">Policía</h3>
          </div>
          <div class="col-4">
            <h3 style="margin-left: 10px">Teléfono: 911</h3>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-2" style="margin: 0 15px">
            <img
              class="icon"
              src="../../assets/enfermero.png"
              alt="Imagen que ilustra un enfermero"
            />
          </div>
          <div class="col"></div>
          <div class="col-4">
            <h3 style="margin-left: 10px">Hospital</h3>
          </div>
          <div class="col-4">
            <h3 style="margin-left: 10px">Teléfono: 107</h3>
          </div>
        </div>
      </div>

      <div class="col">
        <picture>
          <img
            class="img d-lg-block d-none"
            src="../../assets/municipalidad.png"
            alt="Imagen de la municipalidad de La Plata"
          />
        </picture>
      </div>
    </div>
  </article>
  <div style="height: 100px"></div>
</div>
